<% provide(:title, 'FAQ') %>
<h1>and The World</h1>

<div class="row">

  <!-- Geo Chart -->
  <div class="col-xs-12">
    <h3>Visits By Day</h3>
    <%= geo_chart @visits.group(:country).count %>
  </div>

</div>

